<% provide(:title, 'All Users') %>

<% if params[:name].present? %>
<h1>検索結果</h1>
<% else %>
<h1>全てのユーザー</h1>
<% end %>


<div class="col-md-3 col-md-offset-8">
  <p>ユーザー検索</p>
  <%= form_with(url: users_path, local: true, method: :get ) do |f| %>
  <%= f.text_field :name, placeholder: "キーワードを入力" %>
  <button class: "btn btn-primary" ><% f.submit :Search %>検索</button>
<% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
       <p>
      <%= user.name %><br>
        |&nbsp<%= link_to "削除", user, method: :delete,data: { confirm: "#{user.name}を削除してよろしいですか？" },
        class: "btn btn-primary btn-default" %><br>
        <div class="p
        anel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <button type="button" data-toggle="collapse" href="#collapse<%= user.id %>" 
                class="btn btn-primary">編集</button>
              </h4>
            </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'form2', user: user %></div>
            </div>
          </div>
        </div>
      </p>
    <% end %>
  <%= will_paginate %>
</div>

<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
© 2022 GitHub, Inc.